body{
    background: linear-gradient(to right, #0A0B1F, #1E0945, #130A30, #0A0B1F);
    font-family:'Times New Roman';
}

#frontPage {
    position: relative;
}

.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.ball,
.ball2,
.ball3,
.ball4 {
    position: absolute;
    border-radius: 50%;
    background-color: #463675;
    box-shadow: inset 0 -10px 20px gray;
}

.ball {
    height: 8vw;
    width: 8vw;
    top: 15vh;
    left: 5vw;
}

.ball2 {
    height: 5.5vw;
    width: 5.5vw;
    top: 40vh;
    left: 30vw;
}

.ball3 {
    height: 3vw;
    width: 3vw;
    top: 60vh;
    left: 50vw;
}

.ball4 {
    height: 6vw;
    width: 6vw;
    top: 10vh;
    left: 130vh;
}

.mainContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

nav {
    width: 100%;
    background-color: transparent;
    padding: 2%;
    height: auto;
    margin-bottom: 5%;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
}

.nav-items a {
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
}

.nav-items a:hover {
    background-color: white;
    color: black;
}

.content{
    display: flex;
    flex-direction: row;
    height: auto;
}

.leftContainer, .rightContainer{
    flex: 1;
    height: auto;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.leftContainer h1{
    background-image: linear-gradient(to bottom,
                #FFFFFF, #DAABFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 70px;
}

.leftContainer p{
    background-image: linear-gradient(to bottom,
                #FFFFFF, #DAABFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputHeadings{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40%;
    font-size: 2rem;
    color: white;
}

.inputContainer input{
    width: 15rem;
    border-radius: 20rem;
    height: 4rem;
}
.inputContainer img{
    width: 6rem;
    height: 6rem;
}

.rightContainer{
    max-width: 100%;
}

.coin-machince{
    max-width: 100%;
    mix-blend-mode: multiply;
}

/*Browse Currenices*/
.mainContainer2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.headingContainer{
    text-align: center;
    color: white;
}

.nav-items2{
    display: flex;
    justify-content: space-evenly;
}

.nav-items2 a {
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
}

.nav-items2 a:hover {
    background-color: white;
    color: black;
}


.currencySection{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.currencies{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-evenly;
    justify-self: flex-start;
    flex-wrap: wrap;
    font-size: 1.4rem;
    color: white;
    padding: 1%;
}

.currencies p:hover{
    background-color: white;
    color: black;
    border: 2%;
    border-radius: 1rem;
}

/* .subcurrencies{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
} */

.subcurrencies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcurrencies img {
    width: 3rem;
    height: 3rem;
}
 