body {

    background: linear-gradient(to right, #220555, #1E0945, #130A30,
            #0A0B1F);
}

.liveRates{
    background-image: linear-gradient(to bottom,
            #FFFFFF,
            #DAABFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 70px;
    position: fixed;
    left: 20px;
    top: 60px;
}

.goHome {
    background-color: #463675;
    color: white;
    position: fixed;
    left: 50px;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}