@media (max-width: 800px) {
    .ball {
        height: 8vw;
        width: 8vw;
        top: 15vh;
        left: 5vw;
    }
    .ball2 {
        height: 9vw;
        width: 9vw;
        top: 45vh;
        left: 30vw;
    }


    .ball3 {
        height: 12vw;
        width: 12vw;
        top: 5vh;
        left: 80vw;
    }


    .ball4 {
        height: 10vw;
        width: 10vw;
        top: 60vh;
        left: 60vh;
        display: none;
    }

    .mainContainer{
        flex-direction: column;
        padding: 5%;
        margin-bottom: 10%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .leftContainer h1{
        font-size: 2.5rem;
    }
    .leftContainer p{
        font-size: 1.2rem;
    }

    .inputHeadings{
        font-size: 1.2rem;
        flex-direction: column;
        gap: 10%;
    }

    .inputContainer input{
        width: 12rem;
        height: 3rem;
    }

    .inputContainer img{
        width: 4rem;
        height: 4rem;
    }


    .rightContainer{
        max-width: 100%;
        margin-top: 5%;
    }

    .rightContainer img{
        position: relative;
        left: -45px;
    }

    nav{
        padding: 1%;
        margin-bottom: 5%;
    }

    .nav-items{
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }

    .nav-items a {
        font-size: 1.4rem;
        padding: 1%;
    }

    .currencies{
        grid-template-columns: repeat(2,1fr);
    }

    .nav-items2{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .nav-items2 a{
        font-size: 1.4rem;
        padding: 0.4rem;
    }
}


@media (max-width: 500px) {

    .mainContainer {
        flex-direction: column;
        padding: 5%;
        margin-bottom: 10%;
    }
    .inputContainer, .inputHeadings, #calculateButton{
        margin-top: 10%;
    }
    
    .dropDown{
        flex-direction: row;
        gap: 10%;
    }
    .leftContainer h1{
        font-size: 3.5rem;
    }

    .headingContainer h1{
        font-size: 2rem;
    }

    .leftContainer p {
        font-size: 1rem;
        display: none;
    }

    .inputHeadings {
        font-size: 1.2rem;
        flex-direction: column;
        /* gap: 4%; */
    }

    .inputContainer input {
        width: 9rem;
        height: 2rem;
    }

    .inputContainer img {
        width: 4rem;
        height: 4rem;
    }


    .rightContainer{
        max-width: 100%;
        margin-top: 5%;
    }

    /*CurrencyImage*/
    .rightContainer img {
        position: relative;
        left: -30px;
    }

    nav {
        padding: 1%;
        margin-bottom: 5%;
    }

    .nav-items {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-items a {
        font-size: 1.5rem;
        padding: 1%;
    }

    .nav-items2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .nav-items2 a {
        font-size: 1rem;
        padding: 0.4rem;
    }

    .currencies {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    .ball2{
        display: none;
    }

    .mainContainer {
        flex-direction: column;
        padding: 5%;
        margin-bottom: 10%;
    }

    .inputContainer,
    .inputHeadings,
    #calculateButton {
        margin-top: 10%;
    }

    #calculateButton{
        width: 30%;
        font-size: 0.8rem;
    }

    .dropDown {
        flex-direction: row;
        gap: 10%;
    }

    .currencyButton, .secondCurrencyButton{
        font-size: 0.7rem;
        width:35%;
        
    }

    .leftContainer h1 {
        font-size: 2.5rem;
    }

    .headingContainer h1 {
        font-size: 1.2rem;
    }

    .leftContainer p {
        font-size: 1rem;
        display: none;
    }

    .inputHeadings {
        font-size: 1rem;
        flex-direction: column;
        /* gap: 4%; */
    }

    .inputContainer input {
        width: 6rem;
        height: 2rem;
    }

    .inputContainer img {
        width: 3rem;
        height: 3rem;
    }


    .rightContainer {
        max-width: 100%;
        margin-top: 5%;
    }

    /*CurrencyImage*/
    .rightContainer img {
        position: relative;
        left: -30px;
    }

    nav {
        padding: 1%;
        margin-bottom: 5%;
    }

    .nav-items {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-items a {
        font-size: 1rem;
        padding: 1%;
    }

    .nav-items2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .nav-items2 a {
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .currencies {
        grid-template-columns: repeat(1, 1fr);
        font-size: 1rem;
    }
}